* {
    @include box-sizing(border-box);
}

html{ 
    height: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#environment {
    width: 80817px;
    
    .scene {
        float: left;
    }

    .element {
        display: block;
        position: absolute;
    }

    .pilar {
        z-index: 999;
    }
}

#modals {
    color: #848ab8;
    font-size: .8em;
    width: 800px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -250px;
    z-index: 5000;

    .base {
        position: absolute;
        background: #24318d;
        border: 10px solid #fff;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.7);

        a.close-button {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            color: #848ab8;
            margin: 20px;
            text-decoration: none;
        }
        a.close-button:hover {
            color: #fff;
        }
    }

    .contents {
        position: absolute;
        padding: 30px;
        // overflow: hidden;
        height: 100%;

        h6 {
            font-size: 1.4em;
            margin: 0;
        }

        .content
        {
            display: none;
        }
    }
}