#station-1-1-floor {
    width: 3402px;
    height: 1521px;
    background: url(../images/station-1-1-floor.jpg) no-repeat 0 0;
    position: relative;

    #pilar-1 {
        top: 0;
        left: 3390px;
    }

    #door {
        top: 844px;
        left: 974px;
        z-index: 100;
    }   

    #carachter-1 {
        top: 577px;
        left: 430px;
    }

    #carachter-2 {
        top: 830px;
        left: 739px;
    }

    #carachter-3 {
        bottom: 0px;
        left: 845px;
    }

    #carachter-4 {
        top: 954px;
        left: 1322px;
        z-index: 200;
    }

    #carachter-5 {
        top: 1154px;
        left: 1722px;
        z-index: 202;
    }

    #carachter-6 {
        top: 900px;
        left: 1872px;
        z-index: 203;
    }

    #carachter-7 {
        top: 754px;
        left: 2000px;
    }

    #carachter-8 {
        top: 763px;
        left: 1670px;
    }

    #carachter-9 {
        top: 727px;
        left: 2536px;
    }

    #carachter-10 {
        top: 1185px;
        left: 2789px;
    }

    #carachter-11 {
        top: 1326px;
        left: 3162px;
    }

    #escada {
        top: 504px;
        left: 2713px;
        z-index: 205;
    }

    #catraca {
        top: 997px;
        left: 2232px;
        z-index: 209;
    }
    
    #escada-final {
        top: 511px;
        left: 3401px;
        z-index: 206;
    }
}

#station-1-2-floor {
    width: 2000px;
    height: 1521px;
    position: relative;
    background: url(../images/station-1-2-floor.jpg) no-repeat 0 0;

    #pilar-2 {
        top: 0;
        left: 2000px;
    }

    #carachter-12 {
        top: 420px;
        left: 270px;
    }

    #carachter-13 {
        top: 400px;
        left: 349px;
    }

    #carachter-14 {
        top: 400px;
        left: 463px;
    }

    #carachter-15 {
        top: 398px;
        left: 659px;
        z-index: 214;
    }

    #carachter-16 {
        top: 395px;
        left: 932px;
        z-index: 215;
    }

    #carachter-17 {
        top: 338px;
        left: 1369px;
    }

    #carachter-18 {
        top: 407px;
        left: 1448px;
    }

    #carachter-19 {
        top: 350px;
        left: 1610px;
    }

    #carachter-20 {
        top: 350px;
        left: 1830px;
    }
}

#line-1 {
    width: 16655px;
    height: 1521px;
    background: url(../images/line-1.jpg) repeat-x 0 0;
    position: relative;
    
    #tunnel-entrance {
        top: 0;
        right: 0px;
        z-index: 206;
    }

    #tunnel-entrance-2{
        top: 0;
        right: 0px;
        z-index: 210;
    }
}

#train-1 {
    top: 350px;
    left: -340px;
    z-index: 207;
}

#train-2 {
    top: 590px;
    left: 12000px;   
    z-index: 208;
}

#tunnel {
    width: 8025px;
    height: 1521px;
    background: #dfd7cc url(../images/tunnel.jpg) no-repeat 0 0;   
    z-index: 998;
    position: static;
    position: relative;

    #map {
        position: absolute;
        top: 190px;
        left: 2673px;
        width: 4159px;
        height: 943px;

        a.link-modal {
            display: block;
            width: 54px;
            height: 54px;
            background: #efb817;
            border-radius: 100%;
            position: absolute;
            text-indent: -9999px;
            overflow: hidden;
            @include opacity(0);
            transition: .35s;

            &:hover {
                @include opacity(1);    
            }

            &.mercado {
                top: 726px;
                left: 172px;
            }

            &.rodoviaria {
                top: 443px;
                left: 234px;
            }
            
            &.sao-pedro {
                top: 229px;
                left: 343px;
            }

            &.farrapos {
                top: 148px;
                left: 619px;
            }

            &.aeroporto {
                top: 354px;
                left: 770px;
            }

            &.anchieta {
                top: 574px;
                left: 848px;
            }

            &.niteroi {
                top: 735px;
                left: 1071px;
            }

            &.fatima {
                top: 592px;
                left: 1312px;
            }

            &.canoas {
                top: 344px;
                left: 1410px;
            }

            &.mathias-velho {
                top: 134px;
                left: 1635px;
            }

            &.sao-luis {
                top: 274px;
                left: 1861px;
            }

            &.petrobras {
                top: 495px;
                left: 1939px;
            }

            &.esteio {
                top: 700px;
                left: 2073px;
            }

            &.luiz-pasteur {
                top: 666px;
                left: 2394px;
            }

            &.sapucaia {
                top: 424px;
                left: 2507px;
            }

            &.unisinos {
                top: 183px;
                left: 2625px;
            }

            &.sao-leopoldo {
                top: 176px;
                left: 2888px;
            }

            &.rio-dos-sinos {
                top: 388px;
                left: 3006px;
            }

            &.santo-afonso {
                top: 612px;
                left: 3092px;
            }

            &.industrial {
                top: 716px;
                left: 3404px;
            }

            &.fenac {
                top: 472px;
                left: 3599px;
            }

            &.novo-hamburgo {
                top: 160px;
                left: 3670px;
            }


        }
    }

    #cloud-1 {
        left: 4124px;
        top: 114px;
    }

    #cloud-2 {
        left: 2369px;
        top: 878px;
    }

    #cloud-3 {
        left: 7500px;
        top: -99px;
    }

    #cloud-4 {
        left: 7590px;
        top: 1205px;
    }

    #cloud-5 {
        left: 6800px;
        top: 263px;
    }

    #cloud-6 {
        left: 6694px;
        top: 0px;
    }

    #cloud-7 {
        left: 6337px;
        top: 1013px;
    }

    #cloud-8 {
        left: 6886px;
        top: 914px;
    }

    #cloud-9 {
        left: 6403px;
        top: 482px;
    }

    #cloud-10 {
        left: 5547px;
        top: 1001px;
    }
}

#line-2 {
    width: 29900px;
    height: 1521px;
    background: url(../images/line-2.jpg) repeat-x 0 0;
    position: relative;

    #train-3 {
        width: 18625px;
        height: 1521px;

        .train-3 {
            display: block;
            float: left;
        }

        #interna-trem {
            position: absolute;
            left: 9436px;
            top: 434px;
            z-index: 210;
        }

        #carachter-21 {
            left: 10551px;
            top: 434px;
            z-index: 211;
        }
    }

    #end-line-2 {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#line-3 {
    width: 16655px;
    height: 1521px;
    background: url(../images/line-1.jpg) repeat-x 0 0;   
    position: relative;
    
    #train-4 {
        top: 350px;
        left: 1037px;
        z-index: 200;
    }

    #train-5 {
        top: 590px;
        left: 8000px;   
    } 
}

#end-station {
    width: 4179px;
    height: 1521px;
    background: url(../images/end-station.jpg) no-repeat 0 0;
    position: relative;

    #pilar-3 {
        top: 0;
        left: 2077px;
    }
}

#player {
    display: block;
    width: 180px;
    height: 280px;
    background: url(../images/spritesheet-player.png) no-repeat;
    position: absolute;
    overflow: hidden;
}

#camera {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background: red;
    opacity: .5;
    position: absolute;
    z-index: 100000000000;
    visibility: hidden;
}

#stations {
    position:fixed;
    top:0;
    right:0;
    width:0;
    height:100%;
    z-index:1000;

    .keys {
        display:block;
        position:absolute;
        right:35px;
        top:35px;
    }
    
    a.continue {
        display:block;
        position:absolute;
        right:135px;
        bottom:135px;
    }
}