#modals {
    color: #848ab8;
    font-size: .8em;
    width: 653px;
    height: 720px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -326px;
    margin-top: -360px;
    z-index: 5000;

    .base {
        background: url(../images/modals/bg.png) no-repeat center center;
        width: 100%;
        height: 100%;
        border: none;
        position: relative;
    }

    #modal-logo {
        position: absolute;
        top: 40px;
        left: -215px;
    }

    #keys {
        position: absolute;
        bottom: 40px;
        right: -225px;
    }

    .contents { 
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        // overflow: auto;

        .show {
            display: block;
        }

        .modal-retro {
            
            .modal-header {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 30px;
                left: 50%;
                margin-left: -75px;
                z-index: 1;
            }
            
            .modal-title { 
                width: 268px;
                position: absolute;
                top: 130px;
                left: 50%;
                margin-left: -134px;
                z-index: 3;
            }

            .modal-content {
                width: 491px;
                position: absolute;
                top: 155px;
                left: 50%;
                margin-left: -245px;
                z-index: 2;
            }

            .modal-animation-gif {
                width: 243px;
                height: 229px;
                position: absolute;
                top: 470px;
                left: 50%;
                margin-left: -121px;
                z-index: 4;
            }

            &#bilheteiro .modal-animation-gif{
                top: 460px;
                left: 400px;
                margin-left: 0;
            }

            .modal-close-button {
                width: 28px;
                height: 28px;
                display: block;
                @extend .ir;
                background: url(../images/modals/close.png);
                position: absolute;
                top: 140px;
                left: 555px;
                z-index: 6;
                
            }
        }

        .modal-trem {

            .modal-zurbinho {
                width: 390px;
                height: 390px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -195px;
                margin-left: -195px;    
            }

            .modal-text {
                position: absolute;
                left: 430px;
                top: 112px;
            }

            .modal-animation-gif {
                position: absolute;
                left: 550px;
                top: 291px;
            }

            &#fome {
                .modal-animation-gif { 
                    left: 540px;
                    top: 325px;
                }
            }

            &#linha-amarela {
                .modal-animation-gif { 
                    left: 530px;
                }
            }

            &#nao-se-perca {
                .modal-animation-gif { 
                    left: 528px;
                    top: 255px;
                }
            }

            &#fone-de-ouvido {
                .modal-animation-gif { 
                    left: 531px;
                }
            }
        }

        .modal-mapa {
            
            .modal-header {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 30px;
                left: 50%;
                margin-left: -75px;
                z-index: 1;
            }
            
            .modal-title { 
                width: 268px;
                position: absolute;
                top: 130px;
                left: 50%;
                margin-left: -134px;
                z-index: 3;
            }

            .modal-content {
                width: 491px;
                position: absolute;
                top: 155px;
                left: 50%;
                margin-left: -245px;
                z-index: 2;
            }

             .modal-cloud {
                position: absolute;
                top: 393px;
                right: 24px;
                z-index: 5;
            }

            .modal-close-button {
                width: 28px;
                height: 28px;
                display: block;
                @extend .ir;
                background: url(../images/modals/close.png);
                position: absolute;
                top: 140px;
                left: 555px;
                z-index: 6;
                
            }
        }

        #estacao-rodoviaria .modal-cloud { top: 353px; }
        #estacao-sao-pedro .modal-cloud { top: 343px; }
        #estacao-farrapos .modal-cloud { top: 353px; }
        #estacao-aeroporto .modal-cloud { top: 353px; }
        #estacao-anchieta .modal-cloud { top: 363px; }
        #estacao-niteroi .modal-cloud { top: 303px; }
        #estacao-fatima .modal-cloud { top: 353px; }
        #estacao-mathias-velho .modal-cloud { top: 353px; }
        #estacao-sao-luis .modal-cloud { top: 353px; }
        #estacao-petrobras .modal-cloud { top: 353px; }
        #estacao-esteio .modal-cloud { top: 343px; }
        #estacao-luiz-pasteur .modal-cloud { top: 343px; }
        #estacao-sapucaia .modal-cloud { top: 323px; }
        #estacao-unisinos .modal-cloud { top: 343px; }
        #estacao-sao-leopoldo .modal-cloud { top: 343px; }
        #estacao-rio-dos-sinos .modal-cloud { top: 323px; }
        #estacao-santo-afonso .modal-cloud { top: 323px; }
        #estacao-industrial .modal-cloud { top: 323px; }
        #estacao-fenac .modal-cloud { top: 333px; }
        #estacao-novo-hamburgo .modal-cloud { top: 333px; }

        .modal-end {
            color: #FFF;

            .modal-zurbinho {
                width: 390px;
                height: 390px;
                position: absolute;
                top: 155px;
                left: -55px;
                z-index: 10;
            }

            .modal-content {
                position: absolute;
                left: 250px;
                top: 100px;
                z-index: 11;
            }

            .modal-credits {
                width: 365px;
                height: 400px;
                padding-top: 35px;
                position: absolute;
                right: 0px;
                bottom: 0px;
                text-transform: uppercase;
                text-align: center;
                background: url(../images/bg.png);

                h3 {
                    margin: 0 0 10px;
                    font-weight: normal;
                }

                p {
                    margin: 0 0 10px;   
                }

                .image-link {
                    display: inline-block;
                    margin: 5px;
                }

                a {
                    color: #fff;
                }
            }

            .modal-restart {
                position: absolute;
                left: 50px;
                bottom: 40px;
                z-index: 12;
            }
        }

        #social {
            padding-top: 15px;
            padding-right: 30px;
            text-align: right;

            a.ir {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin: 0 3px;

                &.facebook { background: url(../images/modals/fim/facebook.png) }
                &.twitter { background: url(../images/modals/fim/twitter.png) }
                &.instagram { background: url(../images/modals/fim/instagram.png) }
                &.flickr { background: url(../images/modals/fim/flickr.png) }
                &.foursquare { background: url(../images/modals/fim/foursquare.png) }
                &.youtube { background: url(../images/modals/fim/youtube.png) }
            }
        }
    }
}

#inicio {
    padding-top: 60px;
    text-align: center;
    
    .modal-header, .modal-content, .modal-info {
        display: inline-block;
    }

    .modal-header {
        margin-bottom: 5px;
    }

    .modal-content {
        margin-bottom: 20px;
    }
}

#bilheteiro {

    .modal-animation-gif { 
        left: 400px;
        margin-left: 0;
    }
}
